<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011184674042-054c25g1vr9lec7ml5jasortmeqo3gof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011184674042-054c25g1vr9lec7ml5jasortmeqo3gof</string>
	<key>API_KEY</key>
	<string>AIzaSyC1nAAEzIdY16UvosNmllgrU3VlmsMsbi0</string>
	<key>GCM_SENDER_ID</key>
	<string>1011184674042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.multi.web.admin.flutterMultiWebAdmin</string>
	<key>PROJECT_ID</key>
	<string>flutter-multi-store-app-69e57</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-multi-store-app-69e57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011184674042:ios:eeb137b07a1a61314ad543</string>
</dict>
</plist>